@import url(__title/popup__title.css);
@import url(__form/popup__form.css);
@import url(__btn/popup__btn.css);

.popup {
  margin: 0 auto;
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
}
