@import url(-delete/element__btn-delete.css);
@import url(-like/element__btn-like.css);

.element__btn {
  width: 21px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-out;
  border: none;
  cursor: pointer;
  background-color: #00000000;
}

.element__btn:hover {
  opacity: 0.6;
}
