@import url(_add/profile__btn_add.css);
@import url(_edit/profile__btn_edit.css);

.profile__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-out;
}

.profile__btn:hover {
  opacity: 0.6;
}
