.profile__header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 300px) {
  .profile__header {
    margin-top: 14px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .profile__header {
    margin-top: 18px;
  }
}
