.header__line {
  border: 1px solid #545454;
}

@media screen and (min-width: 300px) {
  .header__line {
    margin-top: 41px;
    width: 324px;
  }
}

@media screen and (min-width: 1280px) {
  .header__line {
    width: 882px;
    margin-top: 32px;
  }
}
