@import url(__title/modal__title.css);
@import url(__form/modal__form.css);
@import url(__close-btn/modal__close-btn.css);
@import url(__save-btn/modal__save-btn.css);
@import url(__save-btn/_disabled/modal__save-btn_disabled.css);
@import url(__name/modal__name.css);
@import url(__name/invalid/modal__name_invalid.css);
@import url(__container/modal__container.css);
@import url(__content/modal__content.css);
@import url(__image/modal__image.css);
@import url(__subtitle/modal__subtitle.css);

.modal {
  position: fixed;
  background-color: #00000087;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5;
}
