@media screen and (min-width: 300px) {
  .profile__info {
    width: 280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .profile__info {
    width: 336px;
    margin: 0;
    margin-left: 30px;
  }
}
